/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 10px;
  line-height: 1.4;
  overflow-x: hidden;
  max-width: 100%;
  box-sizing:border-box; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; 
  max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

a:hover{
  color: white;
  text-decoration: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Hamburger Menu
   ========================================================================== */

  .hamburger-icon {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    height: 50px;
    position: relative;
    display: none;
    margin: 0 auto;
    padding-top:22px;
  }
  .hamburger-icon > .line {
    display: block;
    background: #fafafa;
    width: 40px;
    height: 4px;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  .hamburger-icon > .line:nth-child(1) {
    margin-bottom: 8px;
  }
  .hamburger-icon > .line:nth-child(3) {
    margin-top: 8px;
  }
  .hamburger-icon:hover .line:nth-child(1), .hamburger-icon:focus .line:nth-child(1) {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
  }
  .hamburger-icon:hover .line:nth-child(3), .hamburger-icon:focus .line:nth-child(3) {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
  }
  .hamburger-icon:active .line:nth-child(1) {
    transform: translateY(13px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(13px) translateX(0) rotate(45deg);
    -moz-transform: translateY(13px) translateX(0) rotate(45deg);
  }
  .hamburger-icon:active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon:active .line:nth-child(3) {
    transform: translateY(-12px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-12px) translateX(0) rotate(-45deg);
  }
  .hamburger-icon.active .line:nth-child(1) {
    transform: translateY(12px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
    -moz-transform: translateY(12px) translateX(0) rotate(45deg);
  }
  .hamburger-icon.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon.active .line:nth-child(3) {
    transform: translateY(-12px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-12px) translateX(0) rotate(-45deg);
  }


/* ==========================================================================
   CUSTOM CSS
   ========================================================================== */

/* Navigation */

header{
  height:75px;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 2;
}
header nav{
  float:right;
}
header nav ul {
  display: flex;
  align-items:center;

  margin:0;
}
header nav ul li{
  list-style-type: none;
}
header img{
  height:75px;
  padding:10px;
}
header a{
  padding:10px;
  text-transform: uppercase;
  color:white;
  font-weight: bold;
  text-shadow: 2px 2px 0px #1997C4;
}
header .content{
  display: flex;
  align-items:center;
  justify-content:space-between;
}
.hero{
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  overflow: hidden;
  background: url(../img/hero-background.jpg);
  background-size: 100% 70%;
  background-repeat: no-repeat;
}
.hero img{
  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index: -1
}
.hero p{ 
  background-color:#fff; overflow:hidden;
  display:inline-block; 
  padding:0 10px; 
  font-weight:bold;
  font-family:arial;
  font-size:44px;
  text-transform: uppercase;
  box-shadow: 0px 10px 0px -1px #1997C4;
  margin-bottom: 15px;
}
.hero p span { 
  background: url(../img/hero-background.jpg) -20px -20px repeat;
  -webkit-text-fill-color: rgba(25, 151, 196, 0.7);
  -webkit-background-clip: text;
  display:block;
}
.hero .description{
  display: flex;
  flex-direction:column;
  align-items:center;
  transform: skewY(-10deg);
  margin:150px 0;
}
.hero .description p:nth-child(1){
  width: 456px;
}
.hero .description p:nth-child(2){
  width:976px;
}
.hero .description p:nth-child(3){
  width:976px;
  font-size: 32px;
  padding:0 20px;
}
.hero .banner{
  position: relative;
  width:100%;
  z-index: 1
}
.hero .banner .background{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  transform: skewY(-10deg);
}
.hero .banner .content{
  margin-top: 165px;
  margin-bottom:30px;
  display: flex;
  align-items:center;
  flex-direction:column;
}
.hero .banner .pop-logo img{
  position: relative;
  max-width: 300px;
}
.hero .banner .pop-logo{
  margin-top: 165px;
  margin-bottom:50px;
  display: flex;
  align-items:center;
  justify-content:center;
}
.hero .banner p{
  background-color: transparent;
  color:white;
  text-transform:none;
  font-size: 16px;
  box-shadow: none;
  display: block;
  width:100%;
}
.hero .banner p span{
  display: inline;
  color:rgba(25, 151, 196, 1.00);
  background: transparent;
  -webkit-text-fill-color:rgba(25, 151, 196, 1.00);
}
.careers{
  padding:30px 0 50px;
  background: url(../img/careers-background.jpg);
  color:white;
}
.careers h2{
  color: white;
  font-weight: bold;
}
.careers p{
  color: white;
  font-weight: bold;
  font-size:16px;
}
.careers a{
  background-color: blue;
  padding:10px 20px;
  color: black;
  background-color:white;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
.careers .content{
  padding:25px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
}
footer{
  background-color: rgba(231, 231, 231, 1.00);
  padding:30px 0;
}
footer h3{
  color:rgba(181, 181, 181, 1.00);
  font-size: 18px;
}
footer ul{
  margin-top: 20px;
  font-weight: bold;
  padding:0;
  font-size: 18px;
}
footer ul li{
  font-weight:normal;
  list-style-type: none;
  margin-bottom:3px;
}
footer input{
  background-color: rgba(181, 181, 181, 1.00);
  color: white;
  outline:none;
  margin-bottom: 10px;
  display: block;
  -webkit-appearance:none;
  width:100%;
  border:0;
  padding:3px 7px;
}
footer textarea{
  background-color: rgba(181, 181, 181, 1.00);
  color: white;
  outline:none;
  margin-bottom: 10px;
  display: block;
  -webkit-appearance:none;
  width:100%;
  border:0;
  padding:3px 7px;
}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
color: white !important;
}
 
textarea:-moz-placeholder, input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
textarea::-moz-placeholder, input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
textarea:-ms-input-placeholder, input:-ms-input-placeholder {  
color: white !important;  
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 991px) {
  .hero{
    background-size: 100% 60%;
  }
  .hero p{ 
    font-size:26px;
  }
  .hero .description p:nth-child(1) {
    width: 278px;
  }
  .hero .description p:nth-child(2) {
    width: 585px;
  }
  .hero .description p:nth-child(3) {
    width: 585px;
    font-size: 18px;
    padding: 0 29px;
  }
  .hero .description{
    margin:150px 0 100px;
  }
  .hero .banner .content{
    margin-top: 100px;
    margin-bottom:30px;
  }
  .hero .banner .pop-logo{
    margin-top: 100px;
    margin-bottom:30px;
  }
}

@media (max-width: 640px) {

}